<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Terms - Hasanov Rentals LLC</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <header>
      <h1>Hasanov Rentals LLC</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/inventory/">Inventory</a></li>
          <li><a href="/insurance">Insurance</a></li>
          <li><a href="/terms" class="active">Terms</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="auth-buttons">
          {% if photo %}
            <a href="/profile">
              <img src="/static/images/avatars/{{ photo }}" alt="Аватар" style="width: 50px; height: 50px; border-radius: 50%;">
            </a>
          {% else %}
            <a href="/login" class="btn btn-outline">Login</a>
            <a href="/register" class="btn">Sign Up</a>
          {% endif %}
        </div>
      </nav>
    </header>

  <section class="inventory-header">
    <h2>Rental Terms & Conditions</h2>
    <p>Understand the guidelines and policies before booking your vehicle.</p>
  </section>

  <section class="car-card-content">
    <p>Renters must be 25+ years old and possess a valid driver’s license. A security deposit is required for all rentals. Late returns, smoking in vehicles, or unauthorized drivers may result in additional charges. All policies are subject to change without notice.</p>
  </section>

  <footer>
    <p>&copy; 2025 Hasanov Rentals LLC. All rights reserved.</p>
  </footer>
</body>
</html>
